<h1><%= @song.title %></h1>
<strong>Released: </strong><%= @song.released %><br>
<strong>Release Year: </strong><%= @song.release_year %><br>
<strong>Genre: </strong><%= @song.genre %><br>
<strong>Artist: </strong><%= @song.artist_name %>
